.board {
  position: relative; /* participates in items' absolute positioning */
  background-image: url(../assets/corkboard.jpg);
  background-size: 600px;
  min-width: 1280px;
  height: 720px;
  box-shadow: inset 2px 0px 7px rgb(82, 82, 82);
}

.svg-container {
  position: relative; /* supports displaying svg over absolutely positioned items */
  pointer-events: none;
  width: 100%;
  height: 100%;
}
