.board {
  position: relative;
  background-image: url(../assets/corkboard.jpg);
  background-size: 600px;
  width: 1000px;
  height: 800px;
  box-shadow: inset 2px 0px 7px rgb(82, 82, 82);
}

.svg-container {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
