.toolbar {
  display: flex;
  flex-flow: column;
  background-color: rgb(174, 181, 184);
}

.toolbar-danger-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-direction: column;
}
